.book-list-container {
  width: 1000px;
  height: fit-content;
  margin: 50px auto 50px auto;

  h2 {
    margin-top: 50px;
  }
}

.book-list {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 35px;
}
