.header {
  display: flex;
  position: fixed;
  z-index: 1;
  height: 70px;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 4px 15px;
  padding: 0 30px;
}

.logo {
  transition: all 0.3s ease;
  a {
    display: flex;
    align-items: center;
  }

  h2 {
    margin-left: 10px;
    font-weight: 700;
    font-size: 16px;
  }

  &:hover {
    scale: 1.05;
    transition: all 0.3s ease-in-out;
  }
}

.links {
  display: flex;
  color: black;
  font-size: 14px;

  li {
    margin-left: 35px;
    width: 120px;
    transition: all 0.3s ease;

    &:first-child {
      width: 160px;
    }

    &:hover {
      scale: 1.05;
      transition: all 0.3s ease;
    }
  }
}

.dlt-books:hover {
  cursor: pointer;
}
