.book-card {
  position: relative;
  width: 250px;
  height: max-content;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  p {
    margin-top: 5px;
  }
}

.book-cover {
  width: 240px;
  height: 300px;
  border-radius: 30px;
  border: 1px solid rgb(227, 227, 227);
}

.star {
  width: 22px;
  height: 22px;
  margin-right: 2px;
}

.book-description {
  margin-top: 15px;
  overflow-wrap: normal;
}

.rating-card {
  display: flex;
  height: 25px;
  margin-bottom: 10px;
}

.dlt-btn {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  right: -30px;

  &:hover {
    scale: 1.1;
    transition: all 0.3s ease;
  }
}
