.footer {
  display: flex;
  padding: 0 30px;
  height: 10vh;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 4px 15px;
}
